@charset "UTF-8";

body{
    margin: 0 ;
}
header{
    background: #333;
    color:white;
    text-align: center;
    padding: 20px;
}

h1{
    color: #FC3;
    font-weight: normal;
    margin:0;
    text-transform:uppercase;
}

nav{
    background: #555;
}

nav a{
    color:#FC3;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    background: #444;
}

nav a:hover{
    background: #555;
}

nav a span{
    margin-right: 20px;
    color: rgb(174, 165, 165);
}


h3{
    margin:0;
    margin-top: 10px ;
}
main{
    display:flex;
}



article{
    flex:2;
    background: #EEE;
}

.ninja{
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article span{
    border: 1px solid #FC3;
    border-radius: 3px;
    padding: 3px;
}

aside{
    flex: 1;
}

article, aside{
    padding: 10px;
}

footer{
    display: flex;
    background-color: #333;
    color: white;
    margin:3px;
}

section{
    flex: 1 ;
    margin: 15px;
}

.Some_header{
    color:#FC3;
    margin-bottom: 0;
}

.section_p{
    font-size: 10px;
    margin-top: 5px;
}

#venedig{
    background: url("images/venedig.jpg");
}

#venedig section{
    background:rgb(0,0,0, 0.5);
    padding:8px;
    margin:0;
}

h5{
    margin: 0px;
    color: white;
}

#venedig section p{
        color: white;
        margin-top: 5px;
}

#sangimignano{
    background: url("images/sangimignano.jpg");
    margin-top: 10px;
}

#sangimignano section{
    background:rgb(0,0,0, 0.5);
    padding:8px;
    margin:0;
}

#sangimignano section p{
        color: white;
        margin-top: 5px;
}

aside div{
    background-size:cover;
    padding: 80px 8px 8px 8px;
}
